h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
button {
    font-size: 1.4em;
    padding: .4em;
    border-radius: 8px;
}
.center {
    text-align: center;
}
.mx {
    margin-left: 3rem;
    margin-right: 3rem;
}
.my {
    margin-bottom: 3rem;
    margin-top: 3rem;
}